<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.connect.booking.dao.category.CategoryDao">
	<select id="selectAll" resultType="Category">
		SELECT category.id, category.name, COUNT(product.category_id) count
		FROM category, product
		WHERE category.id = product.category_id
		GROUP BY category.id;
	</select>
</mapper>